.icons-section {
  margin-top: 3rem;
  padding: 2rem 5rem;
  text-align: center;
}

.icons-section h1 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.icons-section p:first-of-type {
  max-width: 600px;
  margin-inline: auto;

  font-size: 1rem;
}

.icons-section .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto 1rem;
  max-width: min(600px, 90%);
}

/* .icons-section ul li {
  flex: 1 1 5rem;
} */

/* object {
  border-radius: 50%;
  margin: 10px;
  transition: all 0.2s ease-in;
  width: 100px;
  aspect-ratio: 1;
}

object:hover {
  transform: scale(1.1);
} */

.fab {
  font-size: 30px;
  width: 70px;
  padding: 20px;
  margin: 5px 10px;
  text-align: center;
  border: none;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.fab:hover {
  /* opacity: 0.7; */
  transform: scale(1.2);
}

.fab > span {
  display: none;
}

.fa-whatsapp {
  background-color: #25d366;
  color: #fff;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-github {
  background-color: #000;
  color: #fff;
}

.fa-github:hover {
  color: #fff;
}

.fa-stack-overflow {
  background-color: #f48024;
  color: #fff;
}

.fa-telegram-plane {
  background-color: #0088cc;
  color: #fff;
}
